@import 'reset';
@import 'border-box';

$color-blue: #0000FF;
$color-blue-opr: #0066ff;
$color-blue-num: #0099ff;
$color-purple: #884dff;
$color-purple-opr: #9966ff;
$color-purple-num: #bb99ff;

html {
  font-family: 'Nanum Gothic', serif;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.85);
}

/* Blue theme */
.result {
  background-color: $color-blue;
}

.opr, .clear {
  background-color: $color-blue-opr;
}

.num {
  background-color: $color-blue-num;
}

/* Purple theme */
.purple {
  .result {
    background-color: $color-purple;
  }

  .opr, .clear {
    background-color: $color-purple-opr;
  }
  
  .num {
    background-color: $color-purple-num;
  }
}

/* Theme buttons */

.navbar {
  display: flex;
  margin: 0 auto;
  width: 360px;
  background-color: #404040;

  div {
    width: 50%;
    line-height: 2rem;
    text-align: center;
    font-variant: small-caps;

    &:hover {
      cursor: pointer;
      background: #4d4d4d;
    }
  }
}

/* Calculator body */
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 360px;
}

.result {
  position: absolute;
  width: 100%;
  height: 170px;
  text-align: end; 
  
  * {
    width: 90%;
    margin: 5%;
    overflow: hidden;
  }

  &-output {
    font-size: 2rem;
  }
}

.btn {
  position: absolute;
  top: 170px;
  width: 100%;

  &-row {
    display: flex;
    height: 20%;
    line-height: 90px;
    text-align: center;

    div:hover {
      cursor: pointer;
      filter: opacity(85%);
    }
  
    div:active {
      filter: opacity(80%);
    }
  }
}

.opr, 
.num {
  width: 25%;
}

.clear {
  width: 50%;
  filter: opacity(90%);
}

/* RWD for mobile phones */
@media screen and (max-width: 480px) {
  .wrapper, .navbar {
    width: 100%;
  }
}
